body {
    font-family: Arial, sans-serif;
    /*background-color: #f5f5f5;*/
    background-color: #575E65;
    margin: 0;
    padding: 0;
}
.formulario-container {
    width: 50%;
    height: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 60px;
}
.formulario-container h1 {
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
}

.formulario-container .input-field {
    margin-bottom: 20px;
}

.formulario-container .input-field input[type="text"] {
    width: 72%;
    margin-left: 13%;
    margin-right: 15%;
    padding: 8px;
    border: 1px solid #007bff;
    border-radius: 4px;
}

.formulario-container .input-field .btn-enviar {
    display: block;
    width: 64%;
    margin-left: 18%;
    margin-right: 18%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-container .input-field .btn-enviar:hover {
    background-color: #0056b3;
}
.formulario-container .input-field .intro-text{
    color: black;
    margin-left: 13%;

}